* {
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "open sans", "Arial", sans-serif;
    letter-spacing: 0.5px;

}

.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


        /* SITE-HEADER */


.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-actions{
    display: flex;
    align-items: center;
}

.sitenav{
    font:status-bar;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: left;
}

.sitenav-list{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.sitenav-list li{
    padding-right: 32px;
}

.sitenav-list li:last-child{
    padding-right: 115px;
}

.sitenav-link{
    font-family: "open sans", "arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}


.main-link{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-family: "roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    color: #fff;
    background-color: rgba(222, 46, 84, 1);
    text-decoration: none;
}
        /* MAIN */
.section{
    background-color: #0EB4C1;
    color:white;
}

        /* HERO */

.hero-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-heading{
    margin: 0 177px 16px 170px;
    width: 600px;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 43.2px;
    text-align: right 170px;
    font-weight: 700;
    color: #fff;
}

.hero-text{
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 170px;
    margin-right: 237px;
    padding-top: 75px;
    width: 440px;
    height: 108px;
    font-family: "Open Sans", "arial", sans-serif;
    font: initial;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;

}

.main-button-two{
    margin-bottom: 120px;
    margin-left: 170px;
}

.hero-img{
    align-items: right;
    justify-content: right;
    text-align: right;
}


        /* SERVICES */


.Services-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    font-family: "roboto condensed", "arial", sans-serif;
    line-height: 120%;
    font-weight: 700;
}

.services-one{
    display: flex;
    justify-content: center;
}

.services-images{
    margin-left: 288px;
    width: 200px;
    height: 200px;
    margin-top: 80px;
}

.services-two{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}


.services-text{
    /* width: 100px;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: black;
    font-size: 35px;
    width: 80px;
    height: 35px;
     */
    font-family: "roboto condensed", "arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    /* padding-bottom: 200px; */
    margin-left: 50px;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
}

.services-essay{
    padding-left: 64px;
    font-family: "open sans", "arial", sans-serif;
    color: black;
    font-size: 23px;
    font-weight: 400;
}

.cfa-color{
    background-color: #0EB4C1;
}

.CFA{
    background-color: #0EB4C1;
}

.footer-accept{
    font-family: "roboto condensed", "arial", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 35px;
}

.footer-div{
    background-color: #000;
}

.footer-ul{
    font-family: "open sans", "arial", sans-serif;
    font-weight: 400;    
    color: #fff;
}

